 .title {
  margin-top: 90px;
  background-color: #F1F1F3;
  margin-left: 70px;
  margin-right: 70px;
}

.title_sec {
  padding-left: 10px;
  padding-right: 10px;
  border: solid;
  border-color: #C8C8C8;
  display: block;
}

.title_sec h1 {
  color: #127a8c;
  font-size: 50px;
  text-align: center;
  margin:10px;
}

.entermark {
  margin-top: 30px;
  margin-left: 70px;
  margin-right: 70px;
}

.allmark {
  margin-top: 30px;
  margin-left: 70px;
  margin-right: 70px;
}

.enter_mark {
  padding-left: 10px;
  padding-right: 10px;
  border: solid;
  border-color: #C8C8C8;
  display: block;
  border-radius: 20px;
  background-color: #F1F1F3;
}

.all_mark {
  padding-left: 10px;
  padding-right: 10px;
  border: solid;
  border-color: #C8C8C8;
  display: block;
  border-radius: 20px;
  background-color: #F1F1F3;
}

.enter_mark label {
  font-size: 20px;
}

.entermark input[type=text] {
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 15px;
}

.enter_mark h1 {
  color: #127a8c;
  padding-bottom: 10px;
  padding-left: 15px;
  font-size: 30px;
  border-bottom: solid;
  border-bottom-color: #B1B1B1;
}

.all_mark h1 {
  color: #127a8c;
  padding-bottom: 10px;
  padding-left: 15px;
  font-size: 30px;
  border-bottom: solid;
  border-bottom-color: #B1B1B1;
}

.entermark textarea {
  width: 100%;
}

.entermark input[type=submit]{
  margin-bottom: 10px;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: bold;
  background-color: #1DA9C1;
}

.Submit {
  align-self: center;
  margin-top: 15px;
  font-size: 30px;
  border-radius: 0.4rem;
  box-shadow: 3px 3px 5px 6px #000000;
}

input[type=submit] {
  width:15%;
  height:50px;
  font-size:25px;
  background-color: #127a8c;
  color: white;
  align-items: center;
}

input[type=submit]:hover{
  font-size: 30px;
}

.assgn {
  height : 35px;
  width : 150px;
  font-size: 17px;
}

.Heading {
  overflow: hidden;
  width: 100%;
  border-bottom: solid;
  border-bottom-color: #B1B1B1;s
}

.Heading h2 {
  float: left;
  text-align: center;
  padding: 10px 40px;
  padding-bottom: 0px;
  margin-top:0px;
  text-decoration: none;
  font-size: 25px;
}

.stdgrades{
  padding-top : 10px;
  padding-bottom: 10px;
  border-bottom: solid;
  border-bottom-color: #B1B1B1;
}