.title {
  margin-top: 90px;
  background-color: #F1F1F3;
  margin-left: 70px;
  margin-right: 70px;
}

.title_sec {
  padding-left: 10px;
  padding-right: 10px;
  border: solid;
  border-color: #C8C8C8;
  display: block;
}

.title_sec h1 {
  color: #127a8c;
  font-size: 40px;
  text-align: center;
}

.course_desc {
  margin-top: 30px;
  background-color: #F1F1F3;
  margin-left: 70px;
  margin-right: 70px;
}

.course_desc_sec {
  padding-left: 10px;
  padding-right: 10px;
  border: solid;
  border-color: #C8C8C8;
  display: block;
}

.course_desc_sec a:hover{
  color: #00496a;
  font-weight:bold;
}

.course_desc_sec h1 {
  color: #127a8c;
  padding-bottom: 10px;
  padding-left: 15px;
  font-size: 30px;
  border-bottom: solid;
  border-bottom-color: #B1B1B1;
}

.course_desc_sec p {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 17px;
}

.course_desc_sec ul {
  list-style: none;
}

.course_desc_sec li p {
  font-size: 17px;
}

.instructor_info {
  margin-top: 30px;
  background-color: #F1F1F3;
  margin-left: 70px;
  margin-right: 70px;
  display: flex;
}

.instructor_info_sec {
  display: flex;
  flex-direction: column;
  width : 100%;
  border: solid;
  border-color: #C8C8C8;
  flex-wrap: nowrap;
}

.instructor_info_sec h1 {
  color: #127a8c;
  padding-bottom: 10px;
  padding-left: 15px;
  font-size: 30px;
  border-bottom: solid;
  border-bottom-color: #B1B1B1;
  margin-bottom: 0px;
}

.instructor_info_sec p {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 17px;
}

.instructor_info_sec ul {
  list-style: none;
  padding-left: 15px;
}

.instructor_info_sec p {
  font-size: 17px;
  margin-top: 0px;
}

.AnnaInfo {
  display: flex;
  order: 2;
  flex-grow: 1;
}

.Calendar {
  margin-top: 30px;
  background-color: #F1F1F3;
  margin-left: 70px;
  margin-right: 70px;
}

.Calendar_sec {
  padding-left: 10px;
  padding-right: 10px;
  border: solid;
  border-color: #C8C8C8;
  display: block;
}

iframe {
  width : -webkit-fill-available;
}

.Calendar_sec h1 {
  color: #127a8c;
  padding-bottom: 10px;
  padding-left: 15px;
  font-size: 30px;
  border-bottom: solid;
  border-bottom-color: #B1B1B1;
}

.Team {
  margin-top: 30px;
  background-color: #F1F1F3;
  margin-left: 70px;
  margin-right: 70px;
}

.Team_sec {
  padding-left: 10px;
  padding-right: 10px;
  border: solid;
  border-color: #C8C8C8;
  display: flex;
  flex-direction: column;
}

.Team_sec h1 {
  color: #127a8c;
  padding-bottom: 10px;
  padding-left: 15px;
  font-size: 30px;
  border-bottom: solid;
  border-bottom-color: #B1B1B1;
}

#personbox {
  float:left;
  position: relative;
  margin : 23px;
}

#teambox{
  position: relative;
}

.Img1 {
  border : solid;
  border-color: #858383;
  position: relative;
}

.Img2 {
  border : solid;
  border-color: #858383;	
}

.Img3 {
  border : solid;
  border-color: #858383;
}

.Img4 {
  border : solid;
  border-color: #858383;	
}

.Img5 {
  border : solid;
  border-color: #858383;	
}

.Img6 {
  border : solid;
  border-color: #858383;	
}

h4 {
	text-align: center;
	font-size: 19px;
	margin-top: 2px;
}