<!DOCTYPE html>
<html>
<head>
	<title>CSCB20 Annoouncements</title>
	<link rel="stylesheet" type="text/css" href="static/Announcements.css">
</head>
<body>	
<ul class ="navbar">
	<li>&emsp;<a href="/index.html">Home</a>&emsp;</li>
	<li><a href="/Calender.html">Calendar</a>&emsp;</li>
	<li><a href="#">Announcements</a>&emsp;</li>
	<li><a href="/lecture.html">Lectures</a>&emsp;</li>
	<li><a href="/tutorials.html">Tutorials</a>&emsp;</li>
	<li><a href="/assignments.html">Assignments</a>&emsp;</li>
	<li><a href="/test_info.html">Test Information</a>&emsp;</li>
	<li><a href="/resources.html">Resources</a>&emsp;</li>
	<li><a href="/login.html">Main Portal</a>&emsp;</li>
</ul>
<br>
<br>
<h1>Announcements</h1>
    <div id="Announc_table">
		<ul class="navigation">
			<br>
		  <li>Week 1 : No Announcements Yet</li>
		  <li>Week 2 : No Announcements Yet</li>
		  <li>Week 3 : No Announcements Yet</li>
		  <li>Week 4 : No Announcements Yet</li>
		   <li>Week 5 : No Announcements Yet</li>
		    <li>Week 6 : No Announcements Yet</li>
		     <li>Week 7 : No Announcements Yet</li>
		      <li>Week 8 : No Announcements Yet</li>
		      <li>Week 9 : No Announcements Yet</li>
		      <li>Week 10 : No Announcements Yet</li>

		</ul>
	</div>
		<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
</body>
<footer>
		<div>
			<hr>
				<p align="right"><a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" target="_blank">Link to Computer Sciece Faculty at UTSC</a></p>
				<p align="right"> &copy; Dhruv Goyal $$$$ Pranav Sethi</p>
		</div>
</footer>
</html>