<!DOCTYPE html>
<html>
<head>
<title>Welcome to CSCB20!</title>
	<link rel="stylesheet" type="text/css" href="static/assignments.css">
</head>
<body>
	<ul class ="navbar">
  <li>&emsp;<a href="/index.html">Home</a>&emsp;</li>
  <li><a href="/Calender.html">Calendar</a>&emsp;</li>
  <li><a href="/Announcements.html">Announcements</a>&emsp;</li>
  <li><a href="/lecture.html">Lectures</a>&emsp;</li>
  <li><a href="/tutorials.html">Tutorials</a>&emsp;</li>
  <li><a href="#">Assignments</a>&emsp;</li>
  <li><a href="/test_info.html">Test Information</a>&emsp;</li>
  <li><a href="/resources.html">Resources</a>&emsp;</li>
  <li><a href="/login.html">Main Portal</a>&emsp;</li>
</ul>
  <br><br>
	<!--assignments page -->
	<h1> Assignments Overview</h1><hr>
	<p>Here are the assignment and exercise topics, weights, and due dates. I will be posting the exercise and assignment handouts here. All exercises and assignments will be submitted on<a href="https://markus.utsc.utoronto.ca/" target="_blank"> MarkUs.</a></p>
	<h1>Assignment 1</h1><hr>
	<p>
		<ul>
			<li>Topic: Relational Algebra and MySQL</li>
			<li>Weight: 15%</li>
			<li><a href = "https://www.utsc.utoronto.ca/~bretscher/b20/assignments/a1/" target="_blank"> Handout</a></li>
			<li>Due Date: Part 1. Wednesday Feb. 1, 11.59pm, Submit to<a href="https://markus.utsc.utoronto.ca/" target="_blank"> MarkUs.</a><br><b>UPDATED</b> Part 2 and 3. For 5% bonus Saturday Feb. 11, 11.59pm or Friday Feb. 17, 11.59 Submit to <a href="https://markus.utsc.utoronto.ca/" target="_blank"> MarkUs.</a></li>
			<li><a href = "https://www.utsc.utoronto.ca/~bretscher/b20/assignments/a1/soln.pdf" target="_blank">Solution Part 1</a></li>
			<li>FAQ: Q. If the mysql portion asks for a director or actor without specifying which attributes, what should I return? A. Return the first name, last name.</li>
		</ul>
	</p>
	<h1>Assignment 2</h1><hr>
	<p>
		<ul>
			<li>Topic: HTML, CSS, and PHP</li>
			<li>Weight: 15%</li>
			<li><td><a href = "https://mathlab.utsc.utoronto.ca/courses/cscb20w17/bretsche/assignments/a2/a2.html" target="_blank"> Handout A2.zip</a></td></li>
			<li>Due Date: Part 1: Worth 50% Friday March. 10, 11.59pm, Submit to <a href="https://markus.utsc.utoronto.ca/" target="_blank"> MarkUs.</a><br>Part 2: Worth 50% Friday March. 19, 11.59pm, Submit to<a href="https://markus.utsc.utoronto.ca/" target="_blank"> MarkUs.</a></li>
		</ul>
	</p>
	<h1>Assignment 3</h1><hr>
	<p>
		<ul>
			<li>Topic: Web Application and Database</li>
			<li>Weight: 15%</li>
			<li><b>NEW</b><a href = "https://www.utsc.utoronto.ca/~bretscher/b20/assignments/a3/a3_marking_scheme.txt" target="_blank"> Marking Scheme For A3 Handout</a></li>
			<li>Due Date: Friday March 31, 11.59pm</li>
		</ul>
	</p>
	<div>
			
				<hr>
				
					<p align="right"><a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" target="_blank">Link to Computer Sciece Faculty at UTSC..</a></p>
					<p align="right"> &copy; Dhruv Goyal $$$$ Pranav Sethi..</p>
		
		</div>
</body>
</html>