<!DOCTYPE html>
<html>
<head>
	<title>CSCB20 Calender</title>
	<link rel="stylesheet" type="text/css" href="static/Calender.css">
</head>
<body>
	<ul>
	<li>&emsp;<a href="/index.html">Home</a>&emsp;</li>
	<li><a href="#">Calendar</a>&emsp;</li>
	<li><a href="/Announcements.html">Announcements</a>&emsp;</li>
	<li><a href="/lecture.html">Lectures</a>&emsp;</li>
	<li><a href="/tutorials.html">Tutorials</a>&emsp;</li>
	<li><a href="/assignments.html">Assignments</a>&emsp;</li>
	<li><a href="/test_info.html">Test Information</a>&emsp;</li>
	<li><a href="/resources.html">Resources</a>&emsp;</li>
	<li><a href="/login.html">Main Portal</a>&emsp;</li>
</ul>
<br>
<h1>Calendar</h1>
	<br>
	<p>Check For Instructor office hours, TA oh, Assignment submissions, Midterm and Final Term Test and Lecture Schedule</p>
	<br>
	<div id = "map">
		<iframe src="https://calendar.google.com/calendar/embed?src=dhruvgoel2308%40gmail.com&ctz=America%2FToronto" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

	</div>
</body>
<footer>
		<div>
			<hr>
				<p align="right"><a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" target="_blank">Link to Computer Sciece Faculty at UTSC</a></p>
				<p align="right"> &copy; Dhruv Goyal $$$$ Pranav Sethi</p>
		</div>
	</footer>


</html>