<!DOCTYPE html>
<html>
<head>
	<title>Make A Choice</title>
	<link rel="stylesheet" type="text/css" href="static/choice.css">
</head>
<body>
	<img src="static/UofT-Logo-1.jpg" alt="image of Anna_Bretscher" width="700px" height="700px" align="left">
	<h1>Welcome To CSCB20 Website!</h1>
	<br>
	<br>
	<br>

<div>
	<h2><a href="login.html">Login as an Existing User</a></h2>
	<br>
	<h2><a href="newAccount.html">Create a New Account</a></h2>
</div>
    <br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
</body>
</html>