<!DOCTYPE html>
<html>
<head>
	<title>Create A New Account</title>
	<link rel="stylesheet" type="text/css" href="static/createAccount.css">
</head>
<body>

	<form action= '/addrec' method="POST">
		<fieldset>
			<img src="static/UofT-Logo-1.jpg" alt="image of Anna_Bretscher" width="680px" height="680px" align="right">
			<legend>User Details:</legend>
			<br>
			<br>
			<label for="user">UTorID</label>
			<input type="text" name="user" required="required" /> </title> <br />
			<br>
			<label for="password">Password: </label>
			<input type="password" name="password" required="required" /><br />
			<br>
			<label for="usertype">UserType</label>
			<input type="checkbox" name="usertype" value="Instructor" checked="checked" />Instructor
			<input type="checkbox" name="usertype" value="Student" /> Student
			<br />
			<br>
			<input type="submit" value="SUBMIT">
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
		</fieldset>
	</form>
</body>
</html>