<!DOCTYPE html>
<html>
<head>
	<title>Welcome to CSCB20!</title>
	<link rel="stylesheet" type="text/css" href="static/index.css">
</head>
<body>
	<!--navbar-->
<ul>
	<li>&emsp;<a href="#">Home</a>&emsp;</li>
	<li><a href="/Calender.html">Calendar</a>&emsp;</li>
	<li><a href="/Announcements.html">Announcements</a>&emsp;</li>
	<li><a href="/lecture.html">Lectures</a>&emsp;</li>
	<li><a href="/tutorials.html">Tutorials</a>&emsp;</li>
	<li><a href="/assignments.html">Assignments</a>&emsp;</li>
	<li><a href="/test_info.html">Test Information</a>&emsp;</li>
	<li><a href="/resources.html">Resources</a>&emsp;</li>
	<li><a href="/login.html">Main Portal</a>&emsp;</li>

</ul>
<br>
<h1>Welcome to CSCB20!</h1>
	<div class = "course_desc">
		<br>
		<h3>Course Description</h3>
		<hr>
		<blockquote>
			<p>
				A practical introduction to databases and Web app development. Databases: terminology and applications; creating, querying and updating databases; the entity-relationship model for database design. Web documents and applications: static and interactive documents; Web servers and dynamic server-generated content; Web application development and interface with databases.
			</p>
			<p><strong>Prerequisites</strong> :  Some experience with programming in an imperative language such as Python, Java or C.</p>
			<p><strong>Exclusions</strong> :  This course may not be taken after - or concurrently with - any C- or D-level CSC course.</p>
			<p><strong>Recomended Preparation: </strong> :  <a href="https://utsc.calendar.utoronto.ca/course/CSCA08H3" target="_blank">CSCA08</a> or <a href="https://utsc.calendar.utoronto.ca/course/CSCA20H3" target="_blank">CSCA20</a></p>
			<p><strong>Breadth Requirements</strong> :  Quantative Reasoning</p>
			<a href="static/syllabus.pdf" target="_blank">Syllabus<a>&emsp;&emsp;&emsp;&emsp; <a href="http://www.utsc.utoronto.ca/~registrar/index.php?mod=scheduling&req=timetable&course2=CSCB20H3&submit2&calendar" target="_blank">Link to UTSC timetable</a>
				<br>
		</blockquote>
	</div>
	<div class = "Inst">
		<br>
		<h2>Instructor Information</h2>
		<hr>
		<div class = "Inst_info" >
			<table>
				<thead>
					<tr>
						<th>
							<img src="static/Anna_Bretscher.jpg" alt="image of Anna_Bretscher" width="100px" height="100px" align="center">
						</th>
					</tr>
					<tr>
						<th align="left"><b>Name:&emsp;&emsp; </b><a href="https://www.utsc.utoronto.ca/cms/anna-bretscher" target="_blank">Dr. Ana Bretscher</a></i></b>&emsp;&emsp;</th>
						
					</tr>
					<br>
					<tr>
						<th align="left"><b>Email:</b>&emsp;&emsp;<a href="mailto:bretscher@utsc.utoronto.ca"> bretscher@utsc.utoronto.ca </a></th>
					</tr>
					<tr>
						<th align="left"><b>Office:</b>&emsp;&emsp; IC493 </th>
					</tr>
					<tr>
						<th align="left"><b>Phone: </b> &emsp;&emsp;<u>(416) 208-4745</u></th>
					</tr>
					<tr>
						<th align="left"><b>Lectures:</b>&emsp;&emsp; Mondays 9:15-11:00 in HW 216</th>
					</tr>
					<tr>
						<th align="left"><b>Office Hours</b>&emsp;&emsp; Wednesdays 11:00-12:00</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</body>
<footer>
		<div>
			<hr>
				<p align="right"><a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" target="_blank">Link to Computer Sciece Faculty at UTSC</a></p>
				<p align="right"> &copy; Dhruv Goyal $$$$ Pranav Sethi</p>
		</div>
	</footer>
</html>