<!DOCTYPE html>
<html>
<head>
	<title>Input Student Marks </title>
	<script src="static/inputMOutput.js"></script>
	<link rel="stylesheet" type="text/css" href="static/inputmarksoutput.css">
</head>
<body>

		<h4>To input marks into db, fill out the form and punch in the marks.</h4>
		<br>
	<br>

		<form action="{{ url_for('inputmarks2') }}" method="POST" id="myform" onsubmit="return(validate());">
			<fieldset>
				<label for="utorid"> UtorID:</label>
				<input type="text" name="utorid" id="utorid" /> <br>
				<label for = "labs">Labs</label>
				<input type="text" name="labs" id="lab" /><br>
				<label for="a1">Assignment 1</label>
				<input type="text" name="a1" id="a1" /> <br>
				<label for="a2">Assignment 2</label>
				<input type="text" name="a2" id="a2" /> <br>
				<label for="a3">Assignment 3</label>
				<input type="text" name="a3" id="a3" /> <br>
				<label for="midterm">Midterm Mark</label>
				<input type="text" name="midterm" id="midterm" /> <br>
				<label for="finalmarks">Final Mark</label>
				<input type="text" name="finalmarks" id="final"/> <br>
				
				<input type="submit" name="submit" value="Punch In" id="mybtn" disabled="disabled"> <input  id="button" onclick="resetform()" type="button" value="Reset">
			</fieldset>
		</form>
		<div>
			<button onclick="validate()">Validate Form Then Punch In !</button>
		</div>

		<h4><a href="instructorlogin.html">Go Back To Main Instructor Portal</a></h4>
</body>
<footer>
		<div>
			<hr>
				<p align="right"><a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" target="_blank">Link to Computer Sciece Faculty at UTSC</a></p>
				<p align="right"> &copy; Dhruv Goyal $$$$ Pranav Sethi</p>
		</div>
	</footer>
</html>