<!DOCTYPE html>
<html>
<head>
	<title>CSCB20: Lecture Material</title>
	<link rel="stylesheet" type="text/css" href="static/Lec.css">
</head>
<body>
<ul class ="navbar">
  <li><a href="/index.html">Home</a>&emsp;</li>
  <li><a href="/Calender.html">Calendar</a>&emsp;</li>
  <li><a href="/Announcements.html">Announcements</a>&emsp;</li>
  <li><a href="#">Lectures</a>&emsp;</li>
  <li><a href="/tutorials.html">Tutorials</a>&emsp;</li>
  <li><a href="/assignments.html">Assignments</a>&emsp;</li>
  <li><a href="/test_info.html">Test Information</a>&emsp;</li>
  <li><a href="/resources.html">Resources</a>&emsp;</li>
  <li><a href="/login.html">Main Portal</a>&emsp;</li>
</ul>
	<br>
<h1>Lecture Material</h1>
<br>

<div class="wrapper">
  <header class="header">Weekly Lecture Notes and In Class Material provided below <br><br></header>
  <aside class="aside aside-1">  
    <b>Week 1</b><br>
    Topic And PPT:&emsp; <a href="static/PDF.pdf">Introduction to DB</a>&emsp; <br>
    Readings : &emsp;<br>
    In Class: &emsp; <br> <br> 

  </aside>
  <aside class="aside aside-2">  
    <b>Week 2</b><br>
    Topic And PPT:&emsp; <a href="static/PDF.pdf">Schema Diagrams and Relational Algebra</a>&emsp; <br>
    Readings : &emsp;<br>
    In Class: &emsp; <br> <br> 

  </aside>
  <aside class="aside aside-3">  
    <b>Week 3</b><br>
    Topic And PPT:&emsp; <a href="static/PDF.pdf">SQL and MySQL&emsp; </a><br>
    Readings : &emsp;<br>
    In Class: &emsp; <br> <br> 

  </aside>
  <aside class="aside aside-4">  
    <b>Week 4</b><br>
    Topic And PPT:&emsp; <a href="static/PDF.pdf">MySQL Queries, Creating and Editing Tables</a>&emsp; <br>
    Readings : &emsp;<br>
    In Class: &emsp; <br> <br> 

  </aside>
  <aside class="aside aside-5">  
    <b>Week 5</b><br>
    Topic And PPT:&emsp; <a href="static/PDF.pdf">HTML and CSS</a>&emsp; <br>
    Readings : &emsp;<br>
    In Class: &emsp; <br> <br> 

  </aside>
  <aside class="aside aside-6">  
    <b>Week 6</b><br>
    Topic And PPT:&emsp; <a href="static/PDF.pdf">PHP&emsp; </a><br>
    Readings : &emsp;<br>
    In Class: &emsp; <br> <br> 

  </aside>
  <aside class="aside aside-7">  
    <b>Week 7</b><br>
    Topic And PPT:&emsp; <a href="static/PDF.pdf">PHP and SQL</a>&emsp; <br>
    Readings : &emsp;<br>
    In Class: &emsp; <br> <br> 

  </aside>
  <aside class="aside aside-8">  
    <b>Week 8</b><br>
    Topic And PPT:&emsp; <a href="static/PDF.pdf">Javascript and jQuery</a>&emsp; <br>
    Readings : &emsp;<br>
    In Class: &emsp; <br> <br>

  </aside>
  <aside class="aside aside-9">  
    <b>Week 9</b><br>
    Topic And PPT:&emsp; <a href="static/PDF.pdf">jQuery, Ajax and JSON</a>&emsp; <br>
    Readings : &emsp;<br>
    In Class: &emsp; <br> <br> 

  </aside>
  <aside class="aside aside-10">  
    <b>Week 10</b><br>
    Topic And PPT:&emsp; <a href="static/PDF.pdf">Last Year's Final</a>&emsp; <br>
    Readings : &emsp;<br>
    In Class: &emsp; <br> <br> 
  </aside>
</div>
	<br>
	<br>
	<br>
  <div>
      <hr>
        <p align="right"><a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" target="_blank">Link to Computer Sciece Faculty at UTSC</a></p>
        <p align="right"> &copy; Dhruv Goyal $$$$ Pranav Sethi</p>
  </div>
</body>

</html>