<!DOCTYPE html>
<html>
<head>
<title>Welcome to CSCB20!</title>
	<link rel="stylesheet" type="text/css" href="static/test_info.css">
</head>
<body>
<ul class ="navbar">
  <li>&emsp;<a href="index.html">Home</a>&emsp;</li>
  <li><a href="Calender.html">Calendar</a>&emsp;</li>
  <li><a href="Announcements.html">Announcements</a>&emsp;</li>
  <li><a href="lecture.html">Lectures</a>&emsp;</li>
  <li><a href="tutorials.html">Tutorials</a>&emsp;</li>
  <li><a href="assignments.html">Assignments</a>&emsp;</li>
  <li><a href="test_info.html">Test Information</a>&emsp;</li>
  <li><a href="#">Resources</a>&emsp;</li>
  <li><a href="/login.html">Main Portal</a>&emsp;</li>
</ul>
    <br><br>
	<!--resources page -->
	<h1>Online Resources<br></h1><hr>
		<p>
			<ul>
					<li>Beginner Tutorial for <a href="https://code.tutsplus.com/articles/sql-for-beginners--net-8200" target="_blank">MYSQL</a></li><br>
					<li>Email through your<a href="https://weblogin.utoronto.ca/index.cgi" target="_blank"> University Email!</a> Don't forget to write the course in the Subject and see if the course outline answers your question first!</li><br>
					<li><a href="https://piazza.com/utoronto.ca/winter2017/cscb20" target="_blank">PIAZZA</a> is where your questions regarding the course material, assignments, midterm, etc. should be posed. It will be monitored by the instructor and by your TAs. Please, be very careful not to reveal (parts of) your solution on the bulletin board. Questions about the assignment which you feel you cannot formulate without revealing your solution (should be very rare!), as well as questions and concerns regarding your personal matters should be directed to the instructor.</li>
			</ul>
		</p>
	<h1>Logging into Mathlab</h1><hr>
	<p>
		<ul>
			<li>For Mac, it already comes with the application "terminal". Simple click on it to run. Login to mathlab by typing <b>ssh utorid@mathlab.utsc.utoronto.ca</b> then simply enter your password.</li>
			<li> For Windows you will need a SSH client. PuTTY is a good free one. You can download and install here:<a href="https://www.putty.org/" target="_blank">PuTTY</a> Use the same command as above to login to mathlab: <b>ssh utorid@mathlab.utsc.utoronto.ca</b></li>
		</ul>
	</p>
		
		<!-- footer-->
		
			<div>
				<hr>
					<p align="right"><a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" target="_blank">Link to Computer Sciece Faculty at UTSC</a></p>
					<p align="right"> &copy; Dhruv Goyal $$$$ Pranav Sethi</p>
			</div>
</body>
</html>