<!DOCTYPE html>
<html>
<head>
	<title>Result Of Feedback</title>
	<link rel="stylesheet" type="text/css" href="static/resultfeedback.css">
</head>
<body>
		<h4>{{ msg }}</h4>
		<h4>Use the Back Button on the Browser to go to the previous page.</h4>

</body>
<footer>
		<div>
			<hr>
				<p align="right"><a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" target="_blank">Link to Computer Sciece Faculty at UTSC</a></p>
				<p align="right"> &copy; Dhruv Goyal $$$$ Pranav Sethi</p>
		</div>
	</footer>
</html>