<!DOCTYPE html>
<html>
<head>
	<title>View Marks!</title>
	<script src="static/showmarks.js"></script>
	<link rel="stylesheet" type="text/css" href="static/showmarks.css">
</head>
<body>

	 {% for row in rows %}
		<br><br>
		<h4>Labs : {{ row['labs'] }}</h4><br>
		<h4>Assignment 1 : {{ row['assignment1'] }}</h4><br>
		<h4>Assignment 2 : {{ row['assignment2'] }}</h4><br>
		<h4>Assignment 3 : {{ row['assignment3'] }}</h4><br>
		<h4>Midterm Exam : {{ row['midterm'] }}</h4><br>
		<h4>Final Exam : {{ row['finalmark'] }}</h4><br>
	{% endfor %}

	<div>

		<form action="{{ url_for('remarkrequest') }}" method="POST" id="myform"  onsubmit = "return(validate());">
			<label for="remark"> Select Option to Send Remarking Request and Provide a Valid Reason: </label>
			
			<br>
			<input type="radio" name="remark" value="labs" /> Labs
			<input type="radio" name="remark" value="assignment1" /> Assignment 1
			<input type="radio" name="remark" value="assignment2" /> Assignment 2
			<input type="radio" name="remark" value="assignment3" /> Assignment 3
			<input type="radio" name="remark" value="midterm" /> Midterm
			<input type="radio" name="remark" value="final" /> Final 
			<br>
			<textarea name="reason" cols="100" rows="10" id="txtarea" placeholder="Give A Valid Reason"></textarea><br>
			<input type="text" id="utor" name="utorid" placeholder="Enter Utorid Here"  />
			<input type="submit" name="request" value="Request" id="mybtn" disabled="disabled" /> <input  id="button" onclick="resetform()" type="button" value="Reset"> 
		</form>
	</div>

	<div>
		<button onclick="validate()"> Validate </button>
	</div>

		<br>
		<br>
		<h4><a href="studentlogin.html">Go Back To Main Student Portal</a></h4>
</body>
<footer>
		<div>
			<hr>
				<p align="right"><a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" target="_blank">Link to Computer Sciece Faculty at UTSC</a></p>
				<p align="right"> &copy; Dhruv Goyal $$$$ Pranav Sethi</p>
		</div>
	</footer>
</html>