<!DOCTYPE html>
<html>
<head>
	<title>All Feedback</title>
	<link rel="stylesheet" type="text/css" href="static/showfeedbackoutput.css">
</head>
<body>
	<h4>Showing Anonymous Feedback Recieved: </h4>
	
			<hr>
			{% for row in rows %}
			<div>
				<p> Instructor : {{ row["instructor"] }} </p>
				<p> Question 1 : {{ row["q1"] }} </p>
				<p> Question 2 : {{ row["q2"] }} </p>
				<p> Question 3 : {{ row["q3"] }} </p>
				<p> Question 4 : {{ row["q4"] }} </p>
				<p> Question 5 : {{ row["q5"] }} </p>
			</div>
			<hr>
			{% endfor %}

		<h4><a href="instructorlogin.html">Go Back To Main Instructor Portal</a></h4>
</body>
<footer>
		<div>
			<hr>
				<p align="right"><a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" target="_blank">Link to Computer Sciece Faculty at UTSC</a></p>
				<p align="right"> &copy; Dhruv Goyal $$$$ Pranav Sethi</p>
		</div>
	</footer>
</html>