<!DOCTYPE html>
<html>
<head>
	<title>Remark Requests</title>
	<link rel="stylesheet" type="text/css" href="static/showremarkrequestsoutput.css">
</head>
<body>
	
	<h4>Showing All Remark Requests</h4>
	<br>
		<div class="Table">
			<div class="Heading">
       			 <div class="Cell">
            		<p>UtorID</p>
       			 </div>
       			<div class="Cell">
           		 	<p>Remark</p>
        		</div>
        		<div class="Cell">
            		<p>Reason</p>
        		</div>
    		</div>
    		{% for row in rows %}
    		<div class="Row">
        		<div class="Cell">
            		<p>{{ row["utorid"] }}</p>
        		</div>
        		<div class="Cell">
            		<p>{{ row["remark"] }}</p>
        		</div>
        		<div class="Cell">
            		<p>{{ row["comment"] }}</p>
        		</div>
    		</div>
    		{% endfor %}

		</div>


		<h4><a href="instructorlogin.html">Go Back To Main Instructor Portal</a></h4>

</body>
<footer>
        <div>
            <hr>
                <p align="right"><a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" target="_blank">Link to Computer Sciece Faculty at UTSC</a></p>
                <p align="right"> &copy; Dhruv Goyal $$$$ Pranav Sethi</p>
        </div>
    </footer>
</html>