<!DOCTYPE html>
<html>
<head>
	<title> Welcome - {{ user }}</title>
	<script src="static/studentlogin.js"></script>
	<link rel="stylesheet" type="text/css" href="static/studentLogin.css">
</head>
<body>
	<br>
	<br>
	<h5>Enter Valid Utoronto ID Only:</h5>
	<div>
		<form action="{{ url_for('showmarks') }}" method="POST">
			Click here to View Your Marks: 
			<input type="text" name="utorid" placeholder="Enter Utorid" id="txt" onkeyup="manage(this)">
			<input type="submit" name="m" value="Course Marks" id="btSubmit">
		</form>
		<br>
		<br>
	</div>
		<form action="{{ url_for('givefeedback') }}" method="POST">
			Click here to give feedback to any instructor anonymously: 
			<input type="submit" name="marks" value="Feedback">
		</form>
	<div>
		
	</div>

	<h4><a href="/index.html">Course Website</a></h4>

	<form action="{{ url_for('logout') }}">
		<input type="submit" value="Log Out" >
	</form>

</body>
<footer>
		<div>
			<hr>
				<p align="right"><a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" target="_blank">Link to Computer Sciece Faculty at UTSC</a></p>
				<p align="right"> &copy; Dhruv Goyal $$$$ Pranav Sethi</p>
		</div>
	</footer>
</html>