<!DOCTYPE html>
<html>
<head>
<title>Welcome to CSCB20!</title>
	<link rel="stylesheet" type="text/css" href="static/test_info.css">
</head>
<body>
<ul class ="navbar">
  <li>&emsp;<a href="/index.html">Home</a>&emsp;</li>
  <li><a href="/Calender.html">Calendar</a>&emsp;</li>
  <li><a href="/Announcements.html">Announcements</a>&emsp;</li>
  <li><a href="/lecture.html">Lectures</a>&emsp;</li>
  <li><a href="/tutorials.html">Tutorials</a>&emsp;</li>
  <li><a href="/assignments.html">Assignments</a>&emsp;</li>
  <li><a href="#">Test Information</a>&emsp;</li>
  <li><a href="/resources.html">Resources</a>&emsp;</li>
  <li><a href="/login.html">Main Portal</a>&emsp;</li>
</ul>
	<br>
	<h1>Midterm</h1>	
	<br>

	<!-- test page -->
		<p>
		There will be one midterm. The midterm will be 75min in length. You should go to either HW215 or HW216 depending on your last name as shown here.
		</p><br>
		<!-- Image -->
		<img src ="static/B20_rooms.jpg" alt = " Midterm Info" width = "700" length = "700"> 
		<p>
		Preparing for the midterm:<br>
			<ul>
			<li>Understand all parts of A1.</li>
			<li>The midterm will cover everything on databases that we did from the start until part way through the week 6 lecture.</li>
			</ul><br>
		Once you have done some preparation, you can practice on a previous midterm: <a href= "https://www.utsc.utoronto.ca/~bretscher/b20/tests/testA.pdf" target ="_blank"> Midterm</a>
		</p>
		<!-- footer-->
		<br>
		<br>
			<div>
				<hr>
					<p align="right"><a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" target="_blank">Link to Computer Sciece Faculty at UTSC</a></p>
					<p align="right"> &copy; Dhruv Goyal $$$$ Pranav Sethi</p>
			</div></footer>
</body>
</html>