<!DOCTYPE html>
<html>
<head>
	<title>CSCB20: Tutorials</title>
	<link rel="stylesheet" type="text/css" href="static/tutorials.css">
</head>
<body>
<ul class ="navbar">
  <li>&emsp;<a href="/index.html">Home</a>&emsp;</li>
  <li><a href="/Calender.html">Calendar</a>&emsp;</li>
  <li><a href="/Announcements.html">Announcements</a>&emsp;</li>
  <li><a href="/lecture.html">Lectures</a>&emsp;</li>
  <li><a href="#">Tutorials</a>&emsp;</li>
  <li><a href="/assignments.html">Assignments</a>&emsp;</li>
  <li><a href="/test_info.html">Test Information</a>&emsp;</li>
  <li><a href="/resources.html">Resources</a>&emsp;</li>
  <li><a href="/login.html">Main Portal</a>&emsp;</li>
</ul>
  <br>
	<h1>Tutorials</h1>
	<br>

	<div>
		<table id="tut_table">
  
         <tr>
           <th>&nbsp;&nbsp;&nbsp;&nbsp;Week&nbsp;&nbsp;&nbsp;&nbsp;</th>
           <th>&nbsp;&nbsp;&nbsp;&nbsp;Tutorial Worksheet&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>&nbsp;&nbsp;&nbsp;&nbsp;Solutions&nbsp;&nbsp;&nbsp;&nbsp;</th>
            
         </tr>
   
        <tr>
           <td>1</td>
           <td> <a href="static/PDF.pdf" target="_blank">Python Command Line</a></td>
           <td>Solution 1</td>
         </tr>

		 <tr>
           <td>2</td>
          
           <td> <a href="static/PDF.pdf" target="_blank">Handout</a></td>
            <td> Solution 2</td>
         </tr>

          <tr>
           <td>3</td>
     
           <td> <a href="static/PDF.pdf" target="_blank">SQL Handout</a></td>
            <td> Solution 3</td>
         </tr>


		 <tr>
           <td>4</td>
           <td> <a href="static/PDF.pdf" target="_blank">Handout</a></td>
            <td> Solution 4 </td>
         </tr>

		 <tr>
           <td>5</td>
          
           <td> <a href="static/PDF.pdf" target="_blank">Handout</a></td>
            <td> Solution 5</td>
         </tr>

		 <tr>
           <td>6</td>
           <td> <a href="static/PDF.pdf" target="_blank">Handout/a></td>
           	 <td>Solution 6</td>
         </tr>

           <tr>
           <td>7</td>
           <td> <a href="static/PDF.pdf" target="_blank">Handout</a></td>
            <td> Solution 7</td>
         </tr>

         <tr>
           <td>8</td>
           <td> <a href="static/PDF.pdf" target="_blank">Handout</a></td>
           <td>Solution 8 </td>
         </tr>
        
		 <tr>
           <td>9</td>
           <td> <a href="static/PDF.pdf" target="_blank">Handout</a></td>
            <td> Solution 9</td>
         </tr>

          <tr>
           <td>10</td>
           <td> <a href="static/PDF.pdf" target="_blank">Handout</a></td>
            <td> Solution 10</td>
         </tr>
	</table>	
	</div>
</body>
<footer>
		<div>
			<hr>
				<p align="right"><a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science" target="_blank">Link to Computer Sciece Faculty at UTSC</a></p>
				<p align="right"> &copy; Dhruv Goyal $$$$ Pranav Sethi</p>
		</div>
	</footer>

</html>