<!DOCTYPE html>
<html>
    <head>
        <meta name='viewport'  content="width=device-width, initial-scale=1">
        <link rel='stylesheet' type='text/css' href="static/StyleSheets/Basiclayout.css">
        <link rel='stylesheet' type='text/css' href="static/fonts/fontawesome/css/all.css">
        <link rel='stylesheet' type='text/css' href="static/StyleSheets/feedback.css">
        <title>Student Feedback</title>
    </head>
    <body id="main">
        <nav>
			<ul class="navbarContainer">
				<li class="navBarItems nav-condensedMenu">
					<i class="fas fa-bars" id='opensidebttn'></i>
					<ul class="navBar-SubmenuContainer" id="sideNav">
						<li id="closesidebttn" class="Submenu-item closeBTTN fas fa-times"></li>
						<li class="Submenu-item"><a href="assignments.html">Assignment</a></li>
						<li class="Submenu-item"><a href="lab.html">Lab</a></li>
						<li class="Submenu-item"><a href="Lecture.html">Lecture</a></li>
						<li class="Submenu-item"><a href="resources.html">Resources</a></li>
						<li class="Submenu-item"><a href="contacts.html">Contact Us</a></li>
                        <li class="Submenu-item"><a href="/logout">Logout</a></li>
					</ul> <!-- end of Navbar sub menu -->
				</li>
				<li class="navBarItems Middle-Navcontent"><a href='signIn_Index.html'>Home</a></li>
				<li class="navBarItems"><a href='/profile'>Profile</a></li>
			</ul> <!--  end navbar container -->
		</nav> <!-- end of nav bar section -->
        
        <div class="mainContainer">
            <div class="contentContainer">
                <p>How can I improve?</p>
                <div class="Questions">
                    <button class="Questions__itemQ" id='displayQ1'>What do you like about the instructor teaching?
                        <i class="DownArrow fas fa-chevron-down"></i></button>
                    <div class="Question__itemA" id="displayA1">
                        {% for feedback in Feedbacks %}
                        <p class="Question__itemA--text">{{feedback['Q1']}}</p>
                        {% endfor %}
                    </div><!-- End of question item answerr-->
                    
                    <button class="Questions__itemQ" id='displayQ2'>What do you recommend the instructor to do to improve their teaching?
                        <i class="DownArrow fas fa-chevron-down"></i></button>
                    <div class="Question__itemA" id="displayA2">
                        {% for feedback in Feedbacks1 %}
                        <p class="Question__itemA--text">{{feedback['Q2']}}</p>
                        {% endfor %}
                    </div><!-- End of question item answerr-->
                    
                    <button class="Questions__itemQ" id='displayQ3'>What do you like about the labs?<i class="DownArrow fas fa-chevron-down"></i></button>
                    <div class="Question__itemA" id="displayA3">
                        {% for feedback in Feedbacks2 %}
                        <p class="Question__itemA--text">{{feedback['Q3']}}</p>
                        {% endfor %}
                    </div><!-- End of question item answerr-->
                    
                    <button class="Questions__itemQ" id='displayQ4'>What do you recommend the lab instructors to do to improve their lab teaching?<i class="DownArrow fas fa-chevron-down"></i></button>
                    <div class="Question__itemA" id="displayA4">
                        {% for feedback in Feedbacks3 %}
                        <p class="Question__itemA--text">{{feedback['Q4']}}</p>
                        {% endfor %}
                    </div><!-- End of question item answerr-->
                </div><!--end of question containe-->
            </div><!-- end of content container-->
        </div><!-- end of main container-->
        
        
        <div class='fNote'>
            <div class='fNoteContent'>
                <a href='http://web.cs.toronto.edu'> UofT Computer Science Department </a>
                <p> Site Design by Anshul & George </p>
            </div><!--footer content div -->
			<div class='socialButton'>
				<a href="https://www.facebook.com/UofTCompSci/" class="social fab fa-facebook-f"></a>
				<a href="https://twitter.com/UofTCompSci?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class=" social fab fa-twitter"></a>
                <a href='https://www.utoronto.ca' class="social fas fa-university"></a>
			</div><!-- end of All socialButton div-->
        </div><!-- end of footer div-->
        <script type='text/javascript' src="static/Jscripts/submenu.js"></script>
        <script type="text/javascript" src="static/Jscripts/feedback.js"></script>
    </body>
</html>