.mainContainer{
    height:1400px;
    width:100%;
    padding:100px 100px;
    display:flex;
    justify-content: center;
    
}

.contentContainer{
    background-color:#424B5C;
    width:80%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    padding:100px;
}

.contentContainer > p:first-of-type {
    font-family:verdana, sans-serif;
    font-size:70px;
    color:#FFFFFF;
    font-weight: bold;
    
}
.Questions{
/*    background-color: red;*/
    display:flex;
    flex-direction:column;
    height:100%;
    overflow:hidden;
    
}

.Questions__itemQ{
    width:100%;
    height:70px;
    border:none;
    font-size:25px;
    padding:10px;
    margin-top:50px;
    
}

.Question__itemA {
    width:100%;
    height:400px;
    background-color:#192C4B;
    color:#FFFFFF;
    padding:20px 70px;
    overflow:scroll;
    display:none;
}

.Question__itemA--text{
    margin:20px 0px 20px 0px;
    color:white;
    
}

.DownArrow{
    float:right;
}