<!DOCTYPE html>	

<html>

<head>

	<title>Feedback</title>

	<link rel="stylesheet" type="text/css" href="static/StyleSheets/feedbacks.css">
	<link rel="stylesheet" type="text/css" href="static/StyleSheets/headerfooter.css">




</head>

<body>

	<!--This is the navigation bar -->
	<div class = "navbar">

		<a href="index_s.html">HOME</a>
		<a href="announcements_s.html">ANNOUNCEMENTS</a>
		<a href="lectures_s.html">LECTURES</a>
		<a href="labs_s.html">LABS</a>
		<a href="evaluations_s.html">EVALUATIONS</a>
		<a href="grades_s.html">GRADES</a>
		<a href="resources_s.html">RESOURCES</a>
		<a href="feedback_s.html">FEEDBACK</a>
		<a href="logout">LOGOUT</a>

	</div>


	<!--This is the title for the page -->
	<div class = "title">
		
		<section class="title_sec">
		
			<h1>Feedback</h1>
		
		</section>
	
	</div>

	<!-- This section has a form section which allows students to enter and submit information -->
	<div class = "feedback">
	
		<section class="contact_us">
	
			<h1> Contact us </h1>
	
			<p> We would love to hear your feedback. Please send us your feedback anonymously and we'll use it to better ourselves.</p>

			<br>

			<div class = "formsection">
	
				<form action = "addfeedback" method = "POST" onsubmit = "return feedback_val1()">

					<label for = "Menu"><strong>Choose the Instructor you are submitting the remark request for:</strong></label>
		
					<select id = "instructor" name = "instructor" class = "instructor">
			           
				        {% for instructor in instructors %}
				           
				        <option value = "{{ instructor['UtorID'] }}">{{ instructor['Name'] }}</option>
				           
				        {% endfor %}
			       
			        </select>

			        <br><br>
	
					<label for = "q1"><strong>What do you like about the instructor teaching? </strong></label>
	
					<input type = "text" id="ans" name = "q1">
	
					<br><br>

					<label for = "q1" ><strong>What do you recommend the instructor to do to improve their teaching? </strong></label>
	
					<input type = "text" id="ans" name = "q2">
	
					<br><br>

					<label for = "q3"><strong>What do you like about the labs? </strong></label>

					<textarea type = "text" id="ans" name = "q3"></textarea>

					<br><br>

					<label for = "q4"><strong>What do you recommend the lab instructors to do to improve their lab teaching? </strong></label>

					<textarea type = "text" id="ans" name = "q4"></textarea>

					<br></br>

					<input type = "submit" value = "Submit" class = "Submit" >

				</form>
			
			</div>
			
			<br>
	
	</section>

</div>

<br><br>

<div class = "footer">
	
	<a href="https://web.cs.toronto.edu/" target="_blank">Faculty of Computer Science at UofT</a>
	
	<p>Site design by Shruti Sood and Jeevika Baskaran</p>

</div>

<script src = "/static/app.js"></script>
</body>

</html>