<!DOCTYPE html>	

<html>

<head>
	
	<title>Grades</title>
	
	<link rel="stylesheet" type="text/css" href="static/StyleSheets/grades_i.css">

</head>

<body>
	
	<!--This is the navigation bar -->
	<div class = "navbar">

		<a href="index_i.html">HOME</a>
		<a href="announcements_i.html">ANNOUNCEMENTS</a>
		<a href="lectures_i.html">LECTURES</a>
		<a href="labs_i.html">LABS</a>
		<a href="evaluations_i.html">EVALUATIONS</a>
		<a href="grades_i.html">GRADES</a>
		<a href="regrades_i.html">REGRADES</a>
		<a href="resources_i.html">RESOURCES</a>
		<a href="feedback_i.html">FEEDBACK</a>
		<a href="logout">LOGOUT</a>
	
	</div>

	<!--This is the title for the page -->
	<div class = "title">
		
		<section class="title_sec">
			
			<h1>Grades</h1>
		
		</section>
	
	</div>

	<!-- This section is a form that allows marks to be entered & submitted for every evaluation -->
	<div class = "entermark">
	
		<section class="enter_mark">
	

			<p><b><a href="submitmarks.html">View all Student Grades</a> </b></p>

			<h1> Enter Grades </h1>

			<div class = "formsection">
	
				<form>
	
					<label for = "StudentNumber"><strong>Student Number: </strong></label>
	
					<input type = "text" id="StudentNumber" name = "StudentNumber">
	
					<br> </br>
	
					<label for = "Assignment1"><strong>Assignment 1: </strong></label>
	
					<input type = "text" id="Assignment1" name = "Assignment1">
	
					<br> </br>

					<label for = "Assignment2"><strong>Assignment 2: </strong></label>
	
					<input type = "text" id="Assignment2" name = "Assignment2">
	
					<br> </br>

					<label for = "Assignment3"><strong>Assignment 3: </strong></label>
	
					<input type = "text" id="Assignment3" name = "Assignment3">
	
					<br> </br>

					<label for = "Midterm"><strong>Midterm: </strong></label>
	
					<input type = "text" id="Midterm" name = "Midterm">
	
					<br> </br>

					<label for = "Final"><strong>Final: </strong></label>
	
					<input type = "text" id="Final" name = "Final">
	
					<br> </br>

					<input type = "Submit" value = "Submit">

				</form>
			
			</div>
		
		</section>

	</div>

	
	</div>
	
	<div class = "footer">

		<a href="https://web.cs.toronto.edu/" target="_blank">Faculty of Computer Science at UofT</a>
		
		<p>Site design by Shruti Sood and Jeevika Baskaran</p>
	
	</div>

</body>

</html>