<!DOCTYPE html>	

<html>

<head>
	
	<title>Grades</title>
	
	<link rel="stylesheet" type="text/css" href="static/StyleSheets/gradei.css">
	<link rel="stylesheet" type="text/css" href="static/StyleSheets/headerfooter.css">

	<script type = "text/javascript">
		function grades_val(){
			confirm('You have succesfully entered the grades.');
		}
	</script>

</head>

<body>
	
	<!--This is the navigation bar -->
	<div class = "navbar">

		<a href="index_i.html">HOME</a>
		<a href="announcements_i.html">ANNOUNCEMENTS</a>
		<a href="lectures_i.html">LECTURES</a>
		<a href="labs_i.html">LABS</a>
		<a href="evaluations_i.html">EVALUATIONS</a>
		<a href="grades_i.html">GRADES</a>
		<a href="regrades_i.html">REGRADES</a>
		<a href="resources_i.html">RESOURCES</a>
		<a href="feedback_i.html">FEEDBACK</a>
		<a href="logout">LOGOUT</a>
	
	</div>

	<!--This is the title for the page -->
	<div class = "title">
		
		<section class="title_sec">
			
			<h1>Grades</h1>
		
		</section>
	
	</div>

	<br>

	<!-- This section is a form that allows marks to be entered & submitted for every evaluation -->
	<div class = "entermark">
	
		<section class="enter_mark">

			<h1> Enter Grades </h1>

			<div class = "formsection">
	
				<form action = "EnterGrades" method="POST" onsubmit = "return grades_val()">
	
					<label for = "StudentNumber"><strong>Student Number: </strong></label>
	
					<input type = "text" id="StudentNumber" name = "StudentNumber">
	
					<br> </br>
	
					<select id = "assgn" name = "assgn" class = "assgn">
			           
			            <option value = "A1">Assignment 1</option>
			           
			            <option value = "A2">Assignment 2</option>

			            <option value = "A3">Assignment 3</option>

			            <option value = "Midterm">Midterm</option>

			            <option value = "Final">Final</option>
			           
			        </select>

			        <label><strong>:</strong></label>
	
					<input type = "text" id="grade" name = "grade">
	
					<br> </br>

					<input type = "submit" value = "Submit" class="Submit">

				</form>
			
			</div>

			<br>
		
		</section>

	</div>

	<br>

	<div class = "allmark">
	
		<section class="all_mark">

			<h1> All Student Grades </h1>

			<div class = "Heading">

				<h2 class = "item1">Utor ID</h2>
				<h2 class = "item2">A 1</h2>
				<h2 class = "item3">A 2</h2>
				<h2 class = "item4">A 3</h2>
				<h2 class = "item5">Mid</h2>
				<h2 class = "item6">Fin</h2>
			
			</div>

			{% for student in class1 : %}
			<div class = "stdgrades">

				<p class = "item1">{{ student['UtorID'] }}</p>
				<p class = "item2">{{ student['A1'] }}</p>
				<p class = "item3">{{ student['A2'] }}</p>
				<p class = "item4">{{ student['A3'] }}</p>
				<p class = "item5">{{ student['Midterm'] }}</p>
				<p class = "item6">{{ student['Final'] }}</p> 
			
			</div>
			{% endfor %}
			
		</section>

	</div>
	
	<br><br>

	<div class = "footer">

		<a href="https://web.cs.toronto.edu/" target="_blank">Faculty of Computer Science at UofT</a>
		
		<p>Site design by Shruti Sood and Jeevika Baskaran</p>
	
	</div>

</body>

</html>