<!DOCTYPE html>	

<html>

<head>
	
	<title>Home Page</title>

	<link rel="stylesheet" type="text/css" href="static/StyleSheets/index.css">

</head>

<body>
	
	<!--This is the navigation bar -->
	<div class = "navbar">

		<a href="index_i.html">HOME</a>
		<a href="announcements_i.html">ANNOUNCEMENTS</a>
		<a href="lectures_i.html">LECTURES</a>
		<a href="labs_i.html">LABS</a>
		<a href="evaluations_i.html">EVALUATIONS</a>
		<a href="grades_i.html">GRADES</a>
		<a href="regrades_i.html">REGRADES</a>
		<a href="resources_i.html">RESOURCES</a>
		<a href="feedback_i.html">FEEDBACK</a>
		<a href="logout">LOGOUT</a>
		
	</div>

	<!--This is the title for the page -->
	<div class = "title">
		
		<section class="title_sec">
			
			<h1> CSCB20 - Introduction to Databases and Web Applications</h1>
		
		</section>
	
	</div>

	<!-- This section contains the course description -->
	<div class = "course_desc">
		
		<section class="course_desc_sec">
			
			<h1>Course Description</h1>

			<p>A practical introduction to databases and Web app development. Databases: terminology and applications; creating, querying and updating databases; the entity-relationship model for database design. Web documents and applications: static and interactive documents; Web servers and dynamic server-generated content; Web application development and interface with databases.</p>

			<!-- A list of important info for the course-->
			<ul>

				<li><p><strong>Prerequisite</strong> Some experience with programming in an imperative language such as Python, Java or C.</p></li>
				
				<li><p><strong>Exclusion</strong> This course may not be taken after - or concurrently with - any C- or D-level CSC course.</p></li>
				
				<li><p><strong>Syllabus</strong> <a href= static/PDF/Syllabus.pdf> PDF </a></p></li>
			
			</ul>
		
		</section>
	
	</div>


	<!-- This section contains the Instructor's Info -->
	<div class = "instructor_info">
		
		<section class="instructor_info_sec">
			
			<h1>Instructor Information</h1>
			
			<div class = "AnnaInfo">
				    
				    <ul>
				    	
				    	<li><p><strong>Name:</strong> Anna Bretscher</p></li>
						
						<li><p><strong>Email:</strong> bretscher@utsc.utoronto.ca</p></li>
						
						<li><p><strong>Office:</strong> IC493</p></li>
						
						<li><p><strong>Phone:</strong> (416) 208-4745</p></li>
						
						<li><p><strong>Lectures:</strong> Mondays 9:15-11:00 in HW 216</p></li>
						
						<li><p><strong>Office Hours:</strong> W 11:00-12:00</p></li>
					
					</ul>
			
			</div>

			<br>
			<br>
		
		</section>
	
	</div>


	<!-- This section is for the Google calendar -->
	<div class = "Calendar">
		
		<section class="Calendar_sec">
			
			<h1>Calender</h1>
			
			<div>
				
				<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FToronto&amp;src=Nm1hYzZmMzU3OG50OG10ZzM4M29zY2xqYnNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=MDdqczk4OW1hcXBiOWxlMHVzc2djdTZxcThAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23D50000&amp;color=%23A79B8E" style="border:solid 1px #777" height="600" frameborder="0" scrolling="no"></iframe>

			</div>
			
			<br>
		
		</section>
	
	</div>


	<!-- This section contains pictures of the course team, which includes the instructor and TAs -->
	<div class = "Team">
		
		<section class = "Team_sec">
		
			<h1>Course Team</h1>
		
			<div id = teambox>
		
				<div  id = personbox>
		
					<img class="Img1", src="static/Images/Anna.png">
			
					<h4>Dr. Anna B.</h4>
			
				</div>

				<div  id = personbox>
			
					<img class="Img2", src="static/Images/TA.png">
			
					<h4>TA1</h4>
			
				</div>

				<div id = personbox>
			
					<img class="Img3", src="static/Images/TA.png">
			
					<h4>TA2</h4>
			
				</div>

				<div id = personbox>
			
					<img class="Img4", src="static/Images/TA.png">
			
					<h4>TA3</h4>
			
				</div>

				<div id = personbox>
			
					<img class="Img5", src="static/Images/TA.png">
			
					<h4>TA4</h4>
			
				</div>

				<div id = personbox>
			
					<img class="Img6", src="static/Images/TA.png">
			
					<h4>TA5</h4>
			
				</div>
			
			</div>
		
		</section>
	
	</div>
	
	<br><br>

	<div class = "footer">
		
		<a href="https://web.cs.toronto.edu/" target="_blank">Faculty of Computer Science at UofT</a>
		
		<p>Site design by Shruti Sood and Jeevika Baskaran</p>
	
	</div>

</body>

</html>