<!DOCTYPE html>	

<html>

<head>

	<title>Lectures</title>

	<link rel="stylesheet" type="text/css" href="static/StyleSheets/lectures.css">

</head>

<body>

	<div class = "navbar">

		<a href="index_i.html">HOME</a>
		<a href="announcements_i.html">ANNOUNCEMENTS</a>
		<a href="lectures_i.html">LECTURES</a>
		<a href="labs_i.html">LABS</a>
		<a href="evaluations_i.html">EVALUATIONS</a>
		<a href="grades_i.html">GRADES</a>
		<a href="regrades_i.html">REGRADES</a>
		<a href="resources_i.html">RESOURCES</a>
		<a href="feedback_i.html">FEEDBACK</a>
		<a href="logout">LOGOUT</a>
		
	</div>

	<div class = "main1">

		<section class="section1">

			<h1>Lectures</h1>

		</section>

	</div>

	<div class = "main2">

		<section class="section2">
			
			<h1>Week 1</h1>

			<ul>

				<li><p><strong>Lecture Slides : </strong><a href= static/PDF/LectureSlides.pdf target="_blank">SLIDES</a></p></li>

			</ul>
		
		</section>

	</div>

	<div class = "main2">

		<section class="section2">
			
			<h1>Week 2</h1>

			<ul>

				<li><p><strong>Lecture Slides : </strong><a href= static/PDF/LectureSlides.pdf target="_blank">SLIDES</a></p></li>
				
				<li><p><strong>Worksheet : </strong><a href= static/PDF/Worksheet.pdf target="_blank">WS</a></p></li>
				
				<li><p><strong>Worksheet Solutions : </strong><a href= static/PDF/WorksheetSol.pdf target="_blank">SOLS</a></p></li>

			</ul>
		
		</section>
	
	</div>

	<div class = "main2">

		<section class="section2">
			
			<h1>Week 3</h1>

			<ul>

				<li><p><strong>Lecture Slides : </strong><a href= static/PDF/LectureSlides.pdf target="_blank">SLIDES</a></p></li>

				<li><p><strong>Worksheet : </strong><a href= static/PDF/Worksheet.pdf target="_blank">WS</a></p></li>

				<li><p><strong>Worksheet Solutions : </strong><a href= static/PDF/WorksheetSol.pdf target="_blank">SOLS</a></p></li>

			</ul>
		
		</section>

	</div>

	<div class = "main2">

		<section class="section2">
			
			<h1>Week 4</h1>

			<ul>

				<li><p><strong>Lecture Slides : </strong><a href= static/PDF/LectureSlides.pdf target="_blank">SLIDES</a></p></li>

				<li><p><strong>Worksheet : </strong><a href= static/PDF/Worksheet.pdf target="_blank">WS</a></p></li>

				<li><p><strong>Worksheet Solutions : </strong><a href= static/PDF/WorksheetSol.pdf target="_blank">SOLS</a></p></li>

			</ul>
		
		</section>

	</div>

	<div class = "main2">

		<section class="section2">
			
			<h1>Week 5</h1>

			<ul>

				<li><p><strong>Lecture Slides : </strong><a href= static/PDF/LectureSlides.pdf target="_blank">SLIDES</a></p></li>

				<li><p><strong>Worksheet : </strong><a href= static/PDF/Worksheet.pdf target="_blank">WS</a></p></li>

				<li><p><strong>Worksheet Solutions : </strong><a href= static/PDF/WorksheetSol.pdf target="_blank">SOLS</a></p></li>

			</ul>
		
		</section>

	</div>

	<div class = "main2">

		<section class="section2">
			
			<h1>Week 6</h1>

			<ul>

				<li><p><strong>Lecture Slides : </strong><a href= static/PDF/LectureSlides.pdf target="_blank">SLIDES</a></p></li>

				<li><p><strong>Worksheet : </strong><a href= static/PDF/Worksheet.pdf target="_blank">WS</a></p></li>

				<li><p><strong>Worksheet Solutions : </strong><a href= static/PDF/WorksheetSol.pdf target="_blank">SOLS</a></p></li>

			</ul>
		
		</section>

	</div>

	<div class = "main2">

		<section class="section2">
			
			<h1>Week 7</h1>

			<ul>

				<li><p><strong>Lecture Slides : </strong><a href= static/PDF/LectureSlides.pdf target="_blank">SLIDES</a></p></li>

				<li><p><strong>Worksheet : </strong><a href= static/PDF/Worksheet.pdf target="_blank">WS</a></p></li>

				<li><p><strong>Worksheet Solutions : </strong><a href= static/PDF/WorksheetSol.pdf target="_blank">SOLS</a></p></li>

			</ul>
		
		</section>

	</div>

	<div class = "main2">

		<section class="section2">
			
			<h1>Week 8</h1>

			<ul>

				<li><p><strong>Lecture Slides : </strong><a href= static/PDF/LectureSlides.pdf target="_blank">SLIDES</a></p></li>

				<li><p><strong>Worksheet : </strong><a href= static/PDF/Worksheet.pdf target="_blank">WS</a></p></li>

				<li><p><strong>Worksheet Solutions : </strong><a href= static/PDF/WorksheetSol.pdf target="_blank">SOLS</a></p></li>

			</ul>
		
		</section>

	</div>

	<div class = "main2">

		<section class="section2">
			
			<h1>Week 9</h1>

			<ul>

				<li><p><strong>Lecture Slides : </strong><a href= static/PDF/LectureSlides.pdf target="_blank">SLIDES</a></p></li>

				<li><p><strong>Worksheet : </strong><a href= static/PDF/Worksheet.pdf target="_blank">WS</a></p></li>

				<li><p><strong>Worksheet Solutions : </strong><a href= static/PDF/WorksheetSol.pdf target="_blank">SOLS</a></p></li>

			</ul>
		
		</section>

	</div>

	<div class = "main2">

		<section class="section2">
			
			<h1>Week 10</h1>

			<ul>

				<li><p><strong>Lecture Slides : </strong><a href= static/PDF/LectureSlides.pdf target="_blank">SLIDES</a></p></li>

				<li><p><strong>Worksheet : </strong><a href= static/PDF/Worksheet.pdf target="_blank">WS</a></p></li>

				<li><p><strong>Worksheet Solutions : </strong><a href= static/PDF/WorksheetSol.pdf target="_blank">SOLS</a></p></li>

			</ul>
		
		</section>

	</div>

	<br>
	<br>

	<div class = "footer">

		<a href="https://web.cs.toronto.edu/" target="_blank">Faculty of Computer Science at UofT</a>

		<p>Site design by Shruti Sood and Jeevika Baskaran</p>

	</div>

</body>

</html>