<!DOCTYPE html>
<html>
    <head>
        <meta name='viewport'  content="width=device-width, initial-scale=1">
        <link rel='stylesheet' type='text/css' href="static/StyleSheets/Basiclayout.css">
	<link rel='stylesheet' type='text/css' href="static/StyleSheets/courseContent.css">
        <link rel='stylesheet' type='text/css' href="static/fonts/fontawesome/css/all.css">
        <title>Assignments</title>
    </head>
    <body id="main">
        <nav>
	    <ul class="navbarContainer">
		<li class="navBarItems nav-condensedMenu">
		    <i class="fas fa-bars" id='opensidebttn'></i>
		    <ul class="navBar-SubmenuContainer" id="sideNav">
			<li id="closesidebttn" class="Submenu-item closeBTTN fas fa-times"></li>
			<li class="Submenu-item"><a href="assignments.html">Assignment</a></li>
			<li class="Submenu-item"><a href="lab.html">Lab</a></li>
			<li class="Submenu-item"><a href="Lecture.html">Lecture</a></li>
			<li class="Submenu-item"><a href="resources.html">Resources</a></li>
			<li class="Submenu-item"><a href="contacts.html">Contact Us</a></li>
            <li class="Submenu-item"><a href="/logout">Logout</a></li>
		    </ul> <!-- end of Navbar sub menu -->
		</li>
		<li class="navBarItems Middle-Navcontent"><a href='signIn_Index.html'>Home</a></li>
		<li class="navBarItems"><a href='/profile'>Profile</a></li>
	    </ul> <!--  end navbar container -->
	</nav> <!-- end of nav bar section -->
        
       <div class='contentHeader'>
            <div class='quoteContainer'>
                <p id='quote'>A brilliant solution to the wrong problem can be worse than no solution at all: Solve the correct problem</p>
            </div> <!-- end of quotes section-->
            <a href ="#scrolled "><button class="DownBTTN fas fa-chevron-down"></button></a>
        </div><!--End of content Header Div-->
		
		
        <div class='MainContentWrapper'>
            <div class="contentContainer" id="scrolled">
                <div class="item-container">
                    <p id='item__title'>Assignment 1 - Relational Algebra and MySQL</p>
                    <a class="download-items" href='static/Content/Assignments/Assignment1' target='_blank'>Handout</a>
                    <p class="weight">Weight: 15%</p>
                    <a class="download-items" href='static/Content/Assignments/soln' target='_blank'>Solution</a>
                </div>
                <div class="item-container">
                    <p id='item__title'>Assignment 2 - HTML, CSS, PHP</p>
                    <a class="download-items" href='static/Content/Assignments/Assignment1' target='_blank'>Handout</a>
                    <p class="weight">Weight: 15%</p>
                    <a class="download-items" href='static/Content/Assignments/soln' target='_blank'>Solution</a>
                </div>
                <div class="item-container">
                    <p id='item__title'>Assignment 3 - Web Application and Database</p>
                    <a class="download-items" href='static/Content/Assignments/Assignment1' target='_blank'>Handout</a>
                    <p class="weight">Weight: 15%</p>
                    <a class="download-items" href='static/Content/Assignments/soln' target='_blank'>Solution</a>
                </div>
            </div>    
        </div><!-- End of Info div tag-->
        
        <div class='fNote'>
            <div class='fNoteContent'>
                <a href='http://web.cs.toronto.edu'> UofT Computer Science Department </a>
                <p> Site Design by Anshul & George </p>
            </div><!--footer content div -->
			<div class='socialButton'>
				<a href="https://www.facebook.com/UofTCompSci/" class="social fab fa-facebook-f"></a>
				<a href="https://twitter.com/UofTCompSci?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class=" social fab fa-twitter"></a>
                <a href='https://www.utoronto.ca' class="social fas fa-university"></a>
			</div><!-- end of All socialButton div-->
        </div><!-- end of footer div-->
        <script type='text/javascript' src="static/Jscripts/submenu.js"></script>
    </body>
</html>