<!DOCTYPE html>
<html>
    <head>
        <meta name='viewport'  content="width=device-width, initial-scale=1">
        <link rel='stylesheet' type='text/css' href="static/StyleSheets/BasicLayout.css">
        <link rel='stylesheet' type='text/css' href="static/StyleSheets/homepage.css">
        <link rel='stylesheet' type='text/css' href="static/StyleSheets/mobile.css">
	<link rel='stylesheet' type='text/css' href="static/fonts/fontawesome/css/all.css">
        
        <title>Home</title>
    </head>
    <body>
        <nav>
            <ul class="navbarContainer">
                <li class="navbarItem"><a href='signup.html'>Sign Up</a></li>
                <li class="navbarItem"><a href='signin.html'>Sign In</a></li>
            </ul>
	   </nav>
        <div class='contentHeader'>
            <div class='HeadText'>
				<p id='Quote'>Getting a quality website is not an expense but rather an investment</p>
				<p id='QAuthor'>- Dr.Christopher Dayagadag</p>

            </div><!--End of headText-->
        </div><!--End of content Header Div-->
        
        <div class="InfoContainer">
			<div class="Descr InfoSection">
				<img class="course-image" src='static/images/Figures/Database.png'>
				<div class='Descr-text'>
					<p id='Title'>Introduction to DataBases & Web Applications</p>
					<p id='DescrHeading'>Description</p>
					<p id='description'>A practical introduction to databases and Web app development. Databases: terminology and applications; creating, querying and updating databases; the entity-relationship model for database design. Web documents and applications: static and interactive documents; Web servers and dynamic server-generated content; Web application development and interface with databases.</p>
					<h3 class='extra-heading'> Prequisite </h3>
					<p class='extras'>Some experience with programming in an imperative language such as Python, Java or C.</p>
					<h3 class='extra-heading'> Exclusions </h3>
					<p class='extras'>This course may not be taken after - or concurrently with - any C- or D-level CSC course. </p>
                    <a href='static/Content/Syllabus/syllabus.pdf' target="_blank"><p class='syllabus'>Syllabus</p></a>
				</div> <!--  end of descr-text div -->
			</div> <!-- End of course description section -->

        </div><!-- End of Info div tag-->
        
        <div class='fNote'>
            <div class='fNoteContent'>
                <a href='http://web.cs.toronto.edu'> UofT Computer Science Department </a>
                <p> Site Design by Anshul & George </p>
            </div><!--footer content div -->
			<div class='socialButton'>
				<a href="https://www.facebook.com/UofTCompSci/" class="social fab fa-facebook-f"></a>
				<a href="https://twitter.com/UofTCompSci?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class=" social fab fa-twitter"></a>
                <a href='https://www.utoronto.ca' class="social fas fa-university"></a>
			</div><!-- end of All socialButton div-->
        </div><!-- end of footer div-->
    </body>
</html>