<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='static/StyleSheets/Basiclayout.css' />
	   <link rel='stylesheet' href='static/StyleSheets/accounts.css' />
        <link rel='stylesheet' href='static/fonts/fontawesome/css/all.css' />
        <title>Sign in</title>
    </head>
    <body>
        <nav><!-- nav bar container-->
            <ul class="navbarContainer"><!-- navbar enclosure-->
                <li class="navBarItems"> <a href="index.html">Home</a></li>
            </ul>
        
        </nav>

        <div class="mainContainer">
            <div class='messageContainer'>
                <p class='SignMesssage'>View Course Content, updated marks, and submit re-mark requests </p>
                <p class='SignMesssage'>Provide our team with feedback so that we can best fit your academic goals</p>    
            </div>
            <div class="userContainer">
                <img class ='Coat-arms 'src='static/images/Figures/Utoronto_coa.png'>
                <form action='signinform' method='post' class="userForm">
                    <p id='box-header'>Sign In</p>
                    <input type="text" name='UtorID' class="userInput User-Name" placeholder='UserName (UtorID)'>
                    <input type="password" name='Password' class="userInput Password" placeholder='Password'>
                    <input type='submit' value='Login' class="logBttn">

                </form><!--end of sign in form-->
                <p id='Wrong'>{{string}}</p>
            </div><!-- End of sign in container-->
            
        </div><!--end of main container-->

        <div class='fNote'>
            <div class='fNoteContent'>
                <a href='http://web.cs.toronto.edu'> UofT Computer Science Department </a>
                <p> Site Design by Anshul & George </p>
            </div><!--footer content div -->
			<div class='socialButton'>
			    <a href="https://www.facebook.com/UofTCompSci/" class="social fab fa-facebook-f"></a>
			    <a href="https://twitter.com/UofTCompSci?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class=" social fab fa-twitter"></a>
                <a href='https://www.utoronto.ca' class="social fas fa-university"></a>
			</div><!-- end of All socialButton div-->
        </div><!-- end of footer div-->
    </body>
</html>