body{
		background-color: FloralWhite;

		font-family: Times New Roman, Times, sans-serif; 
		font-size: 16;
		font-weight: normal;
		letter-spacing: 0.1em;

		line-height: 1.6em;
	}
footer{
	
 
	left: 0;
	width: 100%;
	bottom: 0;
	position: fixed;
	
}
a{
	color: midnightblue;
     }
     a{
     	font-size: 20px;
     }
a{
     	font-size: 20px;
     }
  a {
	text-decoration: none;
}

h4{
	font-size: 20px;
}
a:hover{
	color: Coral;
}