body{
		background-color: FloralWhite;

		font-family: Times New Roman, Times, sans-serif; 
		font-size: 16;
		font-weight: normal;
		letter-spacing: 0.1em;

		line-height: 1.6em;
	}
h1{
		color: midnightblue;
	}
	h1{
		font-size: 43px;
	}
	h1{
		text-decoration: underline;
	}
	h5{
		color: black;
	}
	h5{
		font-size: 27px;
	}
	input{
		color: black;
	}
	input{
		font-size: 18px;
	}
	}
	h2{
		font-size: 18px;
	}
	h2{
		color: black;
	}
	a:hover{
	color: Coral;
	}
	a:link {
   text-decoration: none;
   }
   a{
	color: midnightblue;
     }
     a{
     	font-size: 20px;
     }
	footer{
	
	position: fixed; 
	left: 0;
	bottom: 0;
	width: 100%;

	
}