<!DOCTYPE html>
<html>
<head>
	<title>Create A New Account</title>
</head>
<body>

	<form action= '/addrec' method="POST">
		<fieldset>
			<legend>User Details:</legend>
			<label for="user">UTorID</label>
			<input type="text" name="user" required="required" /> </title> <br />
			<label for="password">Password: </label>
			<input type="password" name="password" required="required" /><br />
			<label for="usertype">UserType</label>
			<input type="checkbox" name="usertype" value="Instructor" checked="checked" />Instructor
			<input type="checkbox" name="usertype" value="Student" /> Student
			<br />
			<input type="submit" value="SUBMIT">
		</fieldset>
	</form>
</body>
</html>