<!DOCTYPE html>
<html>
<head>
	<title>Failed Login</title>
</head>
<body>
	<div>
			<h3>Incorrect Utorid/Password. Please Try Again.</h3>
	</div>
	<div>
		<form action= "{{ url_for('logmein') }}" method="POST">
		<fieldset>
			<legend>User Details:</legend>
			<label for="user">UTorID</label>
			<input type="text" name="user" required="required" /> </title> <br />
			<label for="password">Password: </label>
			<input type="password" name="password" required="required" /><br />
			<label for="usertype">UserType</label>
			<input type="checkbox" name="usertype" value="Instructor" checked="checked" />Instructor
			<input type="checkbox" name="usertype" value="Student" /> Student
			<br />
			<input type="submit" value="Log In">
		</fieldset>
	</form>
	</div>
</body>
</html>