<!DOCTYPE html>
<html>
<head>
	<title>Input Student Marks </title>
</head>
<body>
	<br>
	<br>
	<h4>To input marks into db, fill out the form and punch in the marks.</h4>
		<form action="{{ url_for('inputmarks2') }}" method="POST">
			<label for="utorid"> UtorID:</label>
			<input type="text" name="utorid"/> <br>
			<label for = "labs">Labs</label>
			<input type="text" name="labs" /><br>
			<label for="a1">Assignment 1</label>
			<input type="text" name="a1" /> <br>
			<label for="a2">Assignment 2</label>
			<input type="text" name="a2" /> <br>
			<label for="a3">Assignment 3</label>
			<input type="text" name="a3" /> <br>
			<label for="midterm">Midterm Mark</label>
			<input type="text" name="midterm" /> <br>
			<label for="finalmarks">Final Mark</label>
			<input type="text" name="finalmarks" /> <br>
			<input type="submit" name="submit" value="Punch In">
		</form>

		<h4>navigate back to see all options available.</h4>
</body>
</html>