<!DOCTYPE html>
<html>
<head>
	<title>View Course Grades</title>
</head>
<body>
		 <br><br><br>
	<div>
		 <table border="1">
		 	<thead>
		 		<td>UtorID</td>
		 		<td>Labs</td>
		 		<td>Assignment 1</td>
		 		<td>Assignment 2</td>
		 		<td>Assignment 3</td>
		 		<td>Midterm</td>
		 		<td>Final</td>
		 	</thead>
		 	{% for row in rows %}
		 		<tr>
		 			<td>{{ row["utorid"] }}</td>
		 			<td>{{ row["labs"] }}</td>
		 			<td>{{ row["assignment1"] }}</td>
		 			<td>{{ row["assignment2"] }}</td>
		 			<td>{{ row["assignment3"] }}</td>
		 			<td>{{ row["midterm"] }}</td>
		 			<td>{{ row["finalmark"] }}</td>
		 		</tr>
		 	{% endfor %}
		 </table>

	</div>

		<p>Navigate Back to See All Options For Instructor</p>
</body>
</html>