<!DOCTYPE html>
<html>
<head>
	<title> Welcome - {{ utorid }}</title>
</head>
<body>
	<br>
	<br>
	<h5>Enter Valid Utoronto ID Only:</h5>
	<div>
		<form action="{{ url_for('showmarks') }}" method="POST">
			Click here to View Your Marks: 
			<input type="text" name="utorid">
			<input type="submit" name="m" value="Course Marks">
		</form>
		<br>
		<br>
	</div>
		<form action="{{ url_for('givefeedback') }}" method="POST">
			Click here to give feedback to any instructor anonymously: 
			<input type="text" name="utorid" placeholder="Enter Utorid">
			<input type="submit" name="marks" value="Feedback">
		</form>
	<div>
		
	</div>

</body>
</html>