.title {
  margin-top: 90px;
  background-color: #F1F1F3;
  margin-left: 70px;
  margin-right: 70px;
}

.title_sec {
  padding-left: 10px;
  padding-right: 10px;
  border: solid;
  border-color: #C8C8C8;
  display: block;
}

.title_sec h1 {
  color: #127a8c;
  font-size: 70px;
  text-align: center;
  margin:10px;
}

.feedback {
  margin-top: 30px;
  margin-left: 70px;
  margin-right: 70px;
}

.contact_us {
  padding-left: 20px;
  padding-right: 20px;
  border: solid;
  border-color: #C8C8C8;
  display: block;
  border-radius: 20px;
  background-color: #F1F1F3;
}

.contact_us h1 {
  color: #127a8c;
  padding-bottom: 10px;
  padding-left: 15px;
  font-size: 40px;
  border-bottom: solid;
  border-bottom-color: #B1B1B1;
}

.contact_us p{
  font-size: 17px;
}

.contact_us label{
  font-size: 20px;
}

.feedback input[type=text] {
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 15px;
}

.feedback textarea {
  width: 100%;
}

.feedback input[type=submit]{
  margin-bottom: 10px;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: bold;
  background-color: #1DA9C1;
}

input[type=submit]:hover{
  background-color: #127a8c;
  font-size: 25px;
}

.footer {
  background-color: #003366;
  overflow: hidden;
  min-height: 12vh;
  padding-top: 20px;
  padding-bottom: 5px;
  font-family:'Poppins', sans-serif;
  text-align: center;
  margin-top: 30px;
}