.main{
  display : flex;
}

.logo{
  min-width: 41%;
}

.logoimg{
  width: 100%;
  height: auto;
}

.types{
  min-width: 57.5%;
  padding-left: 10px;
  padding-right: 10px;
}

.types div{
  border : 5px #ccc solid;
}

.types h1{
  font-size: 40px;
  text-align: center;
  color:#003366;
}

.types a{
  color: black;
  font-size: 30px;
  font-style: none;
  padding-left: 40%; 
}

.types a:hover {
  color : blue;
  font-size: 35px;
}