.title {
  margin-top: 90px;
  background-color: #F1F1F3;
  margin-left: 70px;
  margin-right: 70px;
}

.title_sec {
  padding-left: 10px;
  padding-right: 10px;
  border: solid;
  border-color: #C8C8C8;
  display: block;
}

.title_sec h1 {
  color: #127a8c;
  font-size: 50px;
  text-align: center;
  margin:10px;
}

.requests {
  margin-top: 30px;
  margin-left: 70px;
  margin-right: 70px;
}

.request {
  padding-left: 10px;
  padding-right: 10px;
  border: solid;
  border-color: #C8C8C8;
  display: block;
  border-radius: 20px;
  background-color: #F1F1F3;
}

.request h1 {
  color: #127a8c;
  padding-bottom: 10px;
  padding-left: 15px;
  font-size: 30px;
  border-bottom: solid;
  border-bottom-color: #B1B1B1;
}

.request ul {
  list-style: none;
}

.request li {
  font-size: 17px;
}